<div class="container instagram">
  <% @instagram.each do |instagram| %>
    <div class="col-md-4 insta-item">
      <%= image_tag instagram.images.standard_resolution.url %>
      <span><i class="glyphicon glyphicon-heart"></i> <%= instagram.likes[:count] %> </span>
    </div>
  <% end %>
</div>